{% extends 'base.html' %}
{% block content %}
<h1 class="text-4xl font-bold text-gray-900 mb-4">About</h1>
<p>SQL Scope is a tool to have statistics on SQL servers.</p><br />
<p>Version 0.1.</p><br />
<p>Source code available <a class="text-grey-500 underline hover:no-underline" href="https://github.com/gduale/sqlscope"
    target="_blank">here</a>.</p><br />
<p>Author: <a class="text-grey-500 underline hover:no-underline" href="https://gduale.com" target="_blank">Guillaume
    DUALÉ</a>.</p>
{% endblock %}