  {% extends 'base.html' %}
  {% block content %}
<h1 class="text-4xl font-bold text-gray-900 mb-4">Dashboard</h1>

<table class="min-w-full bg-white shadow-md rounded-lg overflow-hidden">
    <thead class="bg-gray-200 text-gray-600 uppercase text-sm leading-normal">
        <tr>
            <th class="py-3 px-6 text-left">Server name</th>
            <th class="py-3 px-6 text-left">Status</th>
            <th class="py-3 px-6 text-center">Engine version</th>
            <th class="py-3 px-6 text-center">Replication status</th>
            <th class="py-3 px-6 text-center">SQL user used</th>
            <th class="py-3 px-6 text-center">Information received at (UTC)</th>
        </tr>
    </thead>
    <tbody class="text-gray-600 text-sm font-light">
        {% for server in server_data %}
        <tr class="border-b border-gray-200 hover:bg-gray-100">
            <td class="py-3 px-6 text-left whitespace-nowrap">
                <div class="flex items-center">
                    <span class="font-medium">{{ server.dn_or_ip }}</span>
                </div>
            </td>
            <td class="py-3 px-6 text-left">
                {% if server.up_or_down %}
                <span class="bg-green-200 text-green-600 py-1 px-3 rounded-full text-xs">Up</span>
                {% else %}
                <span class="bg-red-200 text-black-600 py-1 px-3 rounded-full text-xs">Unable to connect</span>
                {% endif %}
            </td>
            <td class="py-3 px-6 text-center">
                <span>{{ server.engine_version }}</span>
            </td>
            <td class="py-3 px-6 text-center">
                    {% if server.replication_status == 0 %}
                    <span class="bg-green-200 text-green-600 py-1 px-3 rounded-full text-xs">Master OK (or server alone)</span>
                    {% elif server.replication_status == 1 %}
                    <span class="bg-red-200 text-black-600 py-1 px-3 rounded-full text-xs">Master KO</span>
                    {% elif server.replication_status == 2 %}
                    <span class="bg-green-200 text-green-600 py-1 px-3 rounded-full text-xs">Slave OK</span>
                    {% elif server.replication_status == 3 %}
                    <span class="bg-red-200 text-black-600 py-1 px-3 rounded-full text-xs">Slave KO</span>
                    {% else %}
                    <span>None</span>
                    {% endif %}
                </span>
            </td>
            <td class="py-3 px-6 text-center">
                <span></span>{{ server.sql_user }}</span>
            </td>
            <td class="py-3 px-6 text-center">
                <span>{{ server.creation_date }}</span>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
  {% endblock %}
